.logo {
  float: left;
  max-width:100%;
  max-height:auto;
  box-sizing: border-box;
  padding: 20px;
}

.sidebar {
  color:purple;
  font-family: 'Comic Sans MS';
  font-style: italic;
  float: left;
  width: 260px;
  border: solid gray;
  border-width: 20px;
  padding: 6px;
  box-sizing: border-box;
  background-color: aliceblue;
}

.Destination {
  float: right;
  color:purple;
  box-sizing: border-box;
  padding: 10px;
}

.dates {

}

body {
  background-color: goldenrod;
}