.logo {
  float: left;
  max-width:100%;
  max-height:auto;
  box-sizing: border-box;
  padding: 20px;
  /* display: block; */
}

.sidebar {
  color:purple;
  font-family: 'Comic Sans MS';
  font-style: italic;
  float: left;
  width: 260px;
  border: solid gray;
  border-width: 20px;
  padding: 6px;
  box-sizing: border-box;
  background-color: aliceblue;
}

img.Destination {
  margin:auto;
  width: 50%;
  height:auto;
  display: block; 
}

.Destination {
  margin: auto;
  width: 50%;
  height: auto;
  color:purple;
  box-sizing: border-box;
  padding: 10px;
  font-size: xx-large;
  font-family: monospace; 
  display: block;
}
.dates {
  font-weight: bolder;
  font-style: normal;
  display: block;
}

body {
  background-color: goldenrod;
  display: block;
}